html{font-size:14px;box-sizing:border-box;overflow: auto;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-first{-ms-flex-order:-1;order:-1}.order-last{-ms-flex-order:13;order:13}.order-0{-ms-flex-order:0;order:0}.order-1{-ms-flex-order:1;order:1}.order-2{-ms-flex-order:2;order:2}.order-3{-ms-flex-order:3;order:3}.order-4{-ms-flex-order:4;order:4}.order-5{-ms-flex-order:5;order:5}.order-6{-ms-flex-order:6;order:6}.order-7{-ms-flex-order:7;order:7}.order-8{-ms-flex-order:8;order:8}.order-9{-ms-flex-order:9;order:9}.order-10{-ms-flex-order:10;order:10}.order-11{-ms-flex-order:11;order:11}.order-12{-ms-flex-order:12;order:12}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-sm-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-sm-first{-ms-flex-order:-1;order:-1}.order-sm-last{-ms-flex-order:13;order:13}.order-sm-0{-ms-flex-order:0;order:0}.order-sm-1{-ms-flex-order:1;order:1}.order-sm-2{-ms-flex-order:2;order:2}.order-sm-3{-ms-flex-order:3;order:3}.order-sm-4{-ms-flex-order:4;order:4}.order-sm-5{-ms-flex-order:5;order:5}.order-sm-6{-ms-flex-order:6;order:6}.order-sm-7{-ms-flex-order:7;order:7}.order-sm-8{-ms-flex-order:8;order:8}.order-sm-9{-ms-flex-order:9;order:9}.order-sm-10{-ms-flex-order:10;order:10}.order-sm-11{-ms-flex-order:11;order:11}.order-sm-12{-ms-flex-order:12;order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-md-first{-ms-flex-order:-1;order:-1}.order-md-last{-ms-flex-order:13;order:13}.order-md-0{-ms-flex-order:0;order:0}.order-md-1{-ms-flex-order:1;order:1}.order-md-2{-ms-flex-order:2;order:2}.order-md-3{-ms-flex-order:3;order:3}.order-md-4{-ms-flex-order:4;order:4}.order-md-5{-ms-flex-order:5;order:5}.order-md-6{-ms-flex-order:6;order:6}.order-md-7{-ms-flex-order:7;order:7}.order-md-8{-ms-flex-order:8;order:8}.order-md-9{-ms-flex-order:9;order:9}.order-md-10{-ms-flex-order:10;order:10}.order-md-11{-ms-flex-order:11;order:11}.order-md-12{-ms-flex-order:12;order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-lg-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-lg-first{-ms-flex-order:-1;order:-1}.order-lg-last{-ms-flex-order:13;order:13}.order-lg-0{-ms-flex-order:0;order:0}.order-lg-1{-ms-flex-order:1;order:1}.order-lg-2{-ms-flex-order:2;order:2}.order-lg-3{-ms-flex-order:3;order:3}.order-lg-4{-ms-flex-order:4;order:4}.order-lg-5{-ms-flex-order:5;order:5}.order-lg-6{-ms-flex-order:6;order:6}.order-lg-7{-ms-flex-order:7;order:7}.order-lg-8{-ms-flex-order:8;order:8}.order-lg-9{-ms-flex-order:9;order:9}.order-lg-10{-ms-flex-order:10;order:10}.order-lg-11{-ms-flex-order:11;order:11}.order-lg-12{-ms-flex-order:12;order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-xl-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-xl-first{-ms-flex-order:-1;order:-1}.order-xl-last{-ms-flex-order:13;order:13}.order-xl-0{-ms-flex-order:0;order:0}.order-xl-1{-ms-flex-order:1;order:1}.order-xl-2{-ms-flex-order:2;order:2}.order-xl-3{-ms-flex-order:3;order:3}.order-xl-4{-ms-flex-order:4;order:4}.order-xl-5{-ms-flex-order:5;order:5}.order-xl-6{-ms-flex-order:6;order:6}.order-xl-7{-ms-flex-order:7;order:7}.order-xl-8{-ms-flex-order:8;order:8}.order-xl-9{-ms-flex-order:9;order:9}.order-xl-10{-ms-flex-order:10;order:10}.order-xl-11{-ms-flex-order:11;order:11}.order-xl-12{-ms-flex-order:12;order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}
 
/*Scrollbar*/

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background: #fff; 
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

::-webkit-scrollbar-thumb:active {
    background: #888; 
}

/*Horizontal scrollers*/
.scroller::-webkit-scrollbar-track
{
    border-radius: 4px;
    background-color: transparent;
}

.scroller::-webkit-scrollbar
{
    width: 4px;
    height: 8px;
    background-color: transparent;
}

.scroller::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: rgba(119, 118, 118, 0.2);
}
.scroller{
    overflow: auto;
    white-space: nowrap;
}
@media(max-width:768px)
{
    .scroller{
        width:105%;
    }
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    color: #140404;
}

.mobile-only{
    display: none;
}  

.desktop-only{
    display: block;
}

.back-btn-text-mobiledisplay{
  display: block;
}

@media (max-width:768px){
  .back-btn-text-mobiledisplay{
    display: none;
  }
}

@media (max-width: 575px){
    .mobile-only{
        display: block;
    }  
    .desktop-only{
        display: none;
    } 
}

/*
_    _ ______          _____  ______ _____
| |  | |  ____|   /\   |  __ \|  ____|  __ \
| |__| | |__     /  \  | |  | | |__  | |__) |
|  __  |  __|   / /\ \ | |  | |  __| |  _  /
| |  | | |____ / ____ \| |__| | |____| | \ \
|_|  |_|______/_/    \_\_____/|______|_|  \_\

*/
/* 2. header */


.cls-1{fill:#263575;}.cls-1,.cls-2,.cls-3{fill-rule:evenodd;}.cls-2,.cls-4{fill:#4099d4;}.cls-3{fill:#fff;}

.doc-header-logo svg
{
    height: 75px;
    margin: 5px 0 0 0;
    padding: 10px;
}
.header-user-link{
  display: inline-block;
}
@media(max-width:960px){
  .header-user-link{
    display: none;
  }
}

@media (max-width:576px){
  .header-logo
  {
    height: 60px;
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
    width: auto;
  }
}

.header-user-link svg{
  cursor: pointer;
  fill: #aaa;
  margin: 0 15px;
  position: relative;
  top: 13px;
  width: 45px;
  display: none;
  visibility: hidden;
}
.top-lang-link{
  display: none;
}
@media (max-width:576px){
    .doc-header-logo svg
    {
      height: 50px;
      margin-top: 0;
      padding: 10px 0 0 0;
    }
}


.header {
  background-color: #fff;
  border-bottom: 1px solid #00000013;
  /* box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1); */
  /* padding-left:0; */
  /* padding-bottom: 10px; */
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-link {
  color: #000;
  display: inline-block;
  margin: 0 10px;
  padding: 35px 0 28px 0;
  text-decoration: none;
}

.header-link-lang{
  color: #000;
  display:none;
  float:right;
  margin-top: 15px;
  padding:0 10px;
  text-decoration: none;
}

.header a:hover{
  color: #41c0f1;
}

@media (min-width: 576px){
  .header-logo {
        height: 75px;
        margin: 5px 0 0 0;
        padding: 10px;
        width: auto;
    }
}


@media (max-width: 960px) {
  .header-link {
    color: #000;
    padding: 20px 0 20px 20px;
    text-decoration: none;
  }
  .header-link-lang{
    display:inline-block;
  }
  .header-more-content{
    border-top:1px solid #ddd;
  }
  .header-more-content .header-link{
    display:none;
  } 
}

@media(max-width:576px){
  .header-link-lang{
    margin-top:3px;
  }
}

/* 2.1 header menu */

.header .header-menu {
  float: right;
}

.header-menu-div,.header-menu-div-signup{
  border-bottom:3px solid transparent;
  display: inline-block;
}


@media (max-width: 960px) {
  .header .header-menu {
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
    height:0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width:100%;
    z-index: 99999;
  }
  .header-menu-div,.header-menu-div-signup{
    width:100%;
  }
}

/* 2.2 header menu icon */

.header .header-menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

@media (min-width: 960px) {
  .header .header-menu-icon {
    display: none;
  }
}

@media (min-width: 576px) {
  .header .header-menu-icon {
    margin-top: 15px;
  }
}

@media (max-width:960px) {
  .header .header-menu-icon {
    display: block;
  }
}

.header .header-menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .header-menu-icon .navicon:before,
.header .header-menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .header-menu-icon .navicon:before {
  top: 5px;
}

.header .header-menu-icon .navicon:after {
  top: -5px;
}

.header-more-icon {
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
  width: 15px;
}


/* 2.3 header button */

.header .header-menu-btn {
  display: none;
}

.header .header-menu-btn:checked~.header-menu {
  height:auto;
  transition: all 10s;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon {
  background: transparent;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:before,
.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.button-login-signup,.header-menu-div-signup .button-login-signup:hover {
  background-color: #41c0f1;
  border: 4px;
  border-radius: 4px;
  color: #fff;
  margin-top: 19px;
  padding: 15px 28px;
  position: relative;
  text-decoration: none;
  text-align: center;
  top: -2px;
}

.icon-userlogin svg {
  width: 40px;
  margin-right: 24px;
}

.icon-userlogin img {
  height: 40px;
  width: 40px;
  margin-right: 24px;
}

/* 2.4 header dropdown */

@media (min-width: 960px) {
  .header-menu-div:hover {
    border-bottom: 3px solid #41c0f1;
  }
  .header-menu-div:hover a,.header-menu-div:hover a svg{
    color: #41c0f1;
    fill: #41c0f1;
  }
}

.header-dropdown-content {
  background-color: #fff;
  height:0;
  min-width: 160px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}

.header-more-content .header-dropdown-content a {
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: left;
}


@media (min-width: 960px) {
.header-more-content:hover .header-dropdown-content,.header-dropdown-content:hover{
  height:auto;
  border:1px solid #eee;
}
.header-more-content .header-dropdown-content a:hover {
  color:#41c0f1;
}
}

@media (max-width: 960px) {
  .header-more-content,.header-dropdown-content{
      height:calc(58px * 9); /*TODO Make this auto*/
      width:100%;
  }
  .header-dropdown-content a {
      margin-left:10px;
  }

}

/* 2.5 media queries for content in hamburger for mobile */

@media (min-width: 960px) {
  .header li {
    float: left;
  }
}

/* 2.6 media queries for mobile and tab - 768px */

@media (max-width: 960px) {
  .icon-userlogin {
    align-items: center;
    border-bottom:1px solid #ddd;
    display: inline-flex;
    padding:20px 30px;
    width:100%;
  }
  .icon-userlogin a{
    color:#000;
    text-decoration: none;
  }

  .header-user-link-mobile a{
    display: flex;
    align-items: center;
  }
}


/* media queries for language and sign up button on mobile */
@media(max-width: 576px) {
  .header-menu-div.desktop-only, .header-menu-div-signup {
    display: none;
  }
}

/*
______ ____   ____ _______ ______ _____
|  ____/ __ \ / __ \__   __|  ____|  __ \
| |__ | |  | | |  | | | |  | |__  | |__) |
|  __|| |  | | |  | | | |  |  __| |  _  /
| |   | |__| | |__| | | |  | |____| | \ \
|_|    \____/ \____/  |_|  |______|_|  \_\


*/
/* 3. footer */

.footer {
  background-color: #f6f6f6;
  bottom: 0;
  overflow: hidden;
  padding-bottom: 40px;
}

.footer a:hover{
    color: #41c0f1;
}

.first-footer p {
  color: #3c3c3c;
  line-height: 1.8em;
  margin-top: 15px;
  padding-right: 90px;
}

.footer .container{
  padding:0;
}

@media (max-width: 960px) {
  .first-footer p {
    padding-right:0;
  }
}

.first-footer h3 {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
  margin: 27px 0 27px;
}

.footer-readmore-link {
  color: #41c0f1;
  margin-left: 20px;
  text-decoration: none;
}

.footer-readmore-arrow {
  height: 15px;
  width: 15px;
}

.footer-content>a {
  color: #3c3c3c;
  display: block;
  margin: 8px 0;
  text-decoration: none;
}


/* 3.1 footer icon */

.footer-social-media svg {
  height: 24px;
  margin-right: 5px;
  width: 24px;
}

.footer-logo {
  height: 60px;
  margin-top: 33px;
  padding: 4px;
  width: auto;
}

@media (max-width: 768px) {
  .footer-logo {
    height: 60px;
    margin-top: 33px;
    padding: 4px;
    width: auto;
  }
}

/* 3.2 footer sitemap */

.footer-sitemap {
  margin-top: 80px;
}

.footer-sitemap-title h2 {
  color: #3c3c3c;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-sitemap-title h2 {
    color: #3c3c3c;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
  }
}

/* 3.3 footer tabs */
/** code by webdevtrick( https://webdevtrick.com ) */
.footer-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .footer-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 15px;
  }
}

.footer-tabs label {
  cursor: pointer;
  order: 1;
  margin:23px;
}

.footer-tabs .footer-tab {
  display: none;
  flex-grow: 1;
  order: 99;
  width: 100%;
}

.footer-tabs input[type="radio"] {
  display: none;
}

.footer-tabs input[type="radio"]:checked+label+.footer-tab {
  display: block;
}

.footer-tab {
  margin-left: -3px;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .footer-tab {
    text-align: left;
  }
}

.footer-tab>a {
  color: #3c3c3c;
  display: inline-block;
  text-decoration: none;
}

.footer-tab a:nth-child(1)~a::before {
  content: "  |  ";
}



/* Health Detail Page CSS */

.health-back-btn-display{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.health-back-btn{
  align-items: center;
  color: #3c3c3c;
  display: flex;
  text-decoration: none;
  padding: 10px 0;
}

.health-contact-spprt-btn{
  align-items: center;
  color: #3c3c3c;
  display: flex;
  text-decoration: none;
  border: 1px solid #41C0F1;
  border-radius: 4px;
  padding: 10px;
}

.question-mark-border{
  padding: 10px;
  background: #fff;
  border: 1px solid #41C0F1;
  border-radius: 50%;
  width: 20px;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.health-detail-box{
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.health-patient-detail-text{
  font-size:20px;
  /* font-weight:bold; */
  margin-bottom: 25px;
}

.health-subtext-detail-option{
  font-size: 16px;
  margin:13px 0
}

.health-age-number{
  border: 1px solid #41C0F1;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
}

.health-specialty-placeholder{
  border-radius: 4px;
  height: 40px;
  border: none;
  background-color: #F0F0F0;
  font-size: 14px;
  text-align: center;
  width: 35%;
}

.health-tell-condition-box{
  border: 1px solid #D6C6C6;
  border-radius: 4px;
  font-size: 14px;
  height: 130px;
  width: 100%;
  padding: 10px;
}

.health-attach-box{
  padding: 10px;
  margin-top: 10px;
}

.add-attach-text{
  font-size:20px;
  font-weight:bold;
  margin-bottom: 15px;
}

.add-report-text{
  font-size: 14px;
  color: #909090;
  /* width: 70%; */
  line-height: 23px;
}

.attachment-block-bg{
  background-color: #F0F0F0;
  cursor: pointer;
  width: 100%;
  height: 165px;
  border-radius: 4px;
  border: 1px dashed #BCBCBC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.health-submit-btn{
  width: 100%;
  color: #fff;
  cursor: pointer;
  background-color: #41C0F1;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 35px;
  padding: 15px;
}

.before-submit-detail{
  display:flex;
  align-items:center;
  margin-top:15px;
  justify-content: center;
}

.message-to-doc-text{
  color:#909090;
  font-size:14px;
  margin-left: 10px;
}

.floating-health-sbmit-btn{
  display: none;
}

.patient-health-display-block{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 15px;
}

.patient-health-profile{
  padding: 5px;
  background: #FFCB79;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  font-size: 24px;
}

.box-review-bg{
  border: 1px solid #F0F0F0;
  border-radius:8px;
  padding: 15px;
  margin-top: 10px;
}
.doctor-dflex-block{
  display: flex;align-items: center;
}
.doctor-img-height{
  width:auto;
  height:55px;
}
.img-margin-left{
  margin-left: 10px;
}
.dr-desc-review-page{
  color:#9D9D9D;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.grad-icon-desc{
  width:auto;
  height:21px;
  margin-right:10px;
}
.dr-desc-text-lineheight{
  margin-top: 10px;
  line-height: 23px;
}

/* Custom Radio Button */
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  color: #41C0F1;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #41C0F1;
  border-radius: 4px;
  width: 35%;
  text-align: center;
  margin-right: 15px;
}

.radio-toolbar label svg{
  fill:#cccccc;
  margin-right:7px
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #41C0F1;
  border-color: #41C0F1;
  color: #fff;
}

.radio-toolbar input[type="radio"]:checked + label svg{
  color: #fff;
  fill: #fff;
}

/* .radio-toolbar input[type="radio"]:focus + label {
  border: 1px solid #444;
} */

/* .radio-toolbar label:hover {
  background-color: #dfd;
} */

@media(max-width: 576px){
  .health-contact-spprt-btn{
      display: none;
  }
  .container-padding-custom{
      padding: 0;
  }
  .padding-0-mobile{
      padding: 0;
  }
  .row-custom-margin{
      margin: 0;
  }
  .health-back-btn-display{
      padding:0 10px;
  }
  .health-detail-box{
      border: unset;
  }

  .floating-health-sbmit-btn{
      background-color: #fff;
      bottom: 0;
      display: block;
      position: fixed;
      width: 100%;
      z-index: 99;
      padding: 15px;
  }
  .attachment-block-bg{
      margin-bottom: 120px;
  }
  .health-submit-btn{
      margin-top: unset;
  }
}

/* Progress Bar CSS */
.progressBar{
  background: #8CACED;
  border-radius: 25px;
  height: 10px;
  position: relative;
  transition: all 0.7s ease-in;
  width: 0;
  z-index: 3;
}
.progress-container{
  margin: auto;
  width: 80%;
}
.progressTrack{
  background: #E8EAF4;
  border-radius: 25px;
}
@media (max-width: 576px){
  .progress-container{
      width: 60%;
  }
}

.question-mark-mobile{
  display: none;
}
@media (max-width: 576px){
  .question-mark-mobile{
      display: flex;
      margin: 10px 0;
      text-decoration: none;
      color: unset;
  }
}



/* Calltype Page CSS */

.calltype-consult-btn{
  width: 100%;
  color: #fff;
  cursor: pointer;
  background-color: #41C0F1;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 35px;
  padding: 15px;
}

.floating-calltype-consult-btn{
  display: none;
}

.box-calltype-bg{
  border: 1px solid #F0F0F0;
  border-radius:8px;
  padding: 15px;
  margin-top: 10px;
}
.doctor-dflex-block{
  display: flex;align-items: center;
}
.doctor-img-height{
  width:auto;
  height:55px;
}
.img-margin-left{
  margin-left: 10px;
}
.dr-desc-review-page{
  color:#9D9D9D;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.grad-icon-desc{
  width:auto;
  height:21px;
  margin-right:10px;
}
.dr-desc-text-lineheight{
  margin-top: 10px;
  line-height: 23px;
}
.calltype-total-amount-price{
  font-weight: bold;
  font-size: 18px;
}

.calltype-option-block{
  margin-top: 10px;
}

.calltype-how-to-speak-title{
  color:#140404;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  margin-bottom: 30px;
  /* width: 60%; */
}
.icon-calltype-bg{
  padding: 5px;
  background: #fff;
  border:1px solid #E7EDFB;
  border-radius: 50%;
  width: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.icon-mic-cam-wifi{
  width:auto;
  height:30px;
}
.calltype-choose-option-text{
  width: 65%;
}
.calltype-subtext-option{
  font-weight: bold;
  margin-bottom: 5px;
}
.calltype-recommended-text{
  background-color: #DE6377;
  color: #fff;
  position: absolute;
  right: 0;
  top: 21%;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 25px;
}
.custom-margin-top-20{
  margin-top: 20px;
}

@media(max-width: 576px){

  .floating-calltype-consult-btn{
      background-color: #fff;
      bottom: 0;
      border-top: 1px solid #D6C6C6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      z-index: 99;
      padding: 10px;
  }
  .calltype-consult-btn{
      margin-top: unset;
  }               
  .total-amount-text{
      font-size: 11px;
      margin-bottom: 10px;
  }
  .symptom-margin-mobile{
      margin-top: 20px;
  }
  .calltype-recommended-text{
      top: 29%;
  }
  .custom-margin-bottom-70{
      margin-bottom: 70px;
  }
  .custom-margin-top-20{
      margin-top: unset;
  }
  .calltype-how-to-speak-title{
      margin-top: 20px;
  }
  .icon-calltype-bg{
      margin-right: 23px;
  }
  .calltype-choose-option-text{
      font-size: 14px;
      width: 55%;
  }
  .calltype-total-amount-price{
      font-size: 14px;
  }
}

@media(max-width: 320px){
  .calltype-choose-option-text{
      font-size: 12px;
      width: 49%;
  }
  .calltype-total-amount-price{
      font-size: 12px;
  }
  .calltype-recommended-text{
      font-size: 12px;
  }
}

/* Customize Checkbox CSS */
/* The container */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #41C0F1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 13px;
  border: solid #fff;
  border-width: 0px 2px 2px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media(max-width: 576px){
  .checkbox-label{
      margin: 35px 0;
  }
}

/* Custom Radio Button */
.calltype-choose-bar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.calltype-choose-bar label {
  align-items: center;
  cursor: pointer;
  display: flex;
  background-color: #fff;
  padding: 15px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #41C0F1;
  border-radius: 4px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  height: 115px;
}

.calltype-choose-bar label svg{
  fill:#c2c1c0;
}

.calltype-choose-bar input[type="radio"]:checked + label {
  background-color: #41C0F1;
  border-color: #41C0F1;
  color: #fff;
}

.calltype-choose-bar input[type="radio"]:checked + label svg{
  color: #41C0F1;
  fill: #41C0F1;
}


/* Review Page CSS */
.pay-consult-btn{
  width: 100%;
  color: #fff;
  cursor: pointer;
  background-color: #41C0F1;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 35px;
  padding: 15px;
}

.floating-pay-consult-btn{
  display: none;
}

.box-review-bg{
  border: 1px solid #F0F0F0;
  border-radius:8px;
  padding: 15px;
  margin-top: 10px;
}
.doctor-dflex-block{
  display: flex;align-items: center;
}
.doctor-img-height{
  width:auto;
  height:55px;
}
.img-margin-left{
  margin-left: 10px;
}
.dr-desc-review-page{
  color:#9D9D9D;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.grad-icon-desc{
  width:auto;
  height:21px;
  margin-right:10px;
}
.dr-desc-text-lineheight{
  margin-top: 10px;
  line-height: 23px;
}
.review-detail-text{
  color: #408BF9;
  margin-bottom: 5px;
}
.payment-block-bg{
  padding: 15px;
  margin-top: 10px;
}
.payment-icon-dflex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}
.payment-icon-block-details{
  display: flex;
  align-items: center;
}
.payment-icon-img{
  width: auto;
  height: 33px;
  margin-right: 10px;
}
.payment-icon-text{
  color:#140404;
  font-size: 13px;
  width: 50%;
}
.coupon-code-textfield{
  background-color:#F0F0F0;
  height: 45px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 60%;
  margin-right: 4%;
  text-indent: 20px;
}
.apply-code-btn{
  background-color: #41C0F1;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  width: 35%;
  height: 45px;
  align-items: center;
  justify-content: center;
}   
.division-border-top{
  display: block;
  border-top: 2px solid #F0F0F0;
  margin: 20px 0;
}  
.total-amount-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.total-amount-price{
  font-weight: bold;
  font-size: 18px;
}
.term-condition-style{
  text-decoration: none;
  color: #41C0F1;
}
@media(max-width:992px){
  .symptom-margin-mobile{
      margin-top: 20px;
  }
}

@media(max-width: 576px){

  .payment-icon-dflex{
    margin-bottom: 20px;
  }

  .floating-pay-consult-btn{
      background-color: #fff;
      bottom: 0;
      border-top: 1px solid #D6C6C6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      z-index: 99;
      padding: 15px;
  }
  .pay-consult-btn{
      margin-top: unset;
      width: 50%;
  }
  .payment-block-bg{
      padding: unset;
      margin-top: 10px;
      margin-bottom: 45px;
  }
  .coupon-code-textfield{
      margin-right: 3%;
  }
  .payment-icon-text{
      font-size: 9px;
  }
  .division-border-top{
      display: none;
  }
  .total-amount-block{
      display: none;
  }                
  .total-amount-text{
      font-size: 11px;
      margin-bottom: 10px;
  }
  .payment-icon-img{
      height: 26px;
  }
}

/* Customize Checkbox CSS */
/* The container */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #41C0F1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 13px;
  border: solid #fff;
  border-width: 0px 2px 2px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media(max-width: 576px){
  .checkbox-label{
      margin: 35px 0;
  }
}



/* Video Page CSS */

.videoElement {
  border-radius: 8px;
  width: 100%;
  /* height: 240px; */
  background-color: #666;
}

.join-consult-btn{
  width: 100%;
  border-radius: 4px;
  display: block;
  background: #41C0F1;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  padding: 15px 40px;
}

.manage-appt-btn{
  width:max-content;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background: #EDEDED;
  color: #140404;
  cursor: pointer;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  height: 46px;
}

.assess-risk-btn{
  width:auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background: #EB7676;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  height: 46px;
  justify-content: center;
}

.icon-bg{
  padding: 5px;
  background: #fff;
  border:1px solid #E7EDFB;
  border-radius: 50%;
  width: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.round-bg-white-join{
  padding: 15px;
  background: #fff;
  border:1px solid #E7EDFB;
  border-radius: 50%;
  width: 20px;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.round-bg-red-join{
  padding: 10px;
  background: red;
  border-radius: 50%;
  width: 5px;
  display: flex;
  height: 5px;
  justify-content: center;
  align-items: center;
}

.container-custom{
  margin-top: 30px;
}

.d-flex{
  display: flex;
}

.vid-success-font{
  font-weight: bold;
  font-size: 30px;
  color: #140404;
  width: 70%;
}

.tick-icon-column{
  width: 30%;
}

.tick-icon{
  width: auto;
  height:35px
}

.click-join-text{
  font-size: 14px;
  color: #140404;
  margin-top: 10px;
}

.box-white-bg{
  border: 1px solid #F0F0F0;
  border-radius:8px;
  padding: 10px;
  margin-top: 10px;
}

.doctor-dflex-block{
  display: flex;align-items: center;
}

.doctor-img-height{
  width:auto;
  height:55px;
}

.img-margin-left{
  margin-left: 10px;
}

.dr-desc-with-icon{
  color:#9D9D9D;
  display: flex;
  align-items: center;
}

.grad-icon-desc{
  width:auto;
  height:21px;
  margin-right:10px;
}

.dr-desc-text-lineheight{
  margin-top: 10px;
  line-height: 23px;
}

.get-med-text{
  margin-top: 10px;
  line-height: 23px;
  font-weight: bold;
  font-size: 18px;
  color: #404040;
}

.get-med-dflex-block{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.get-med-img-height{
  width:auto;
  height:105px;
}

.get-med-desc{
  line-height: 23px;
}

.refill-now-text{
  color:#41C0F1;
  margin-top: 10px;
}

.switch-row{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content:space-between;
  font-size: 16px;
}

.icon-mic-cam-wifi{
  width:auto;
  height:30px;
}

.switch-text{
  border: 1px solid #41C0F1;
  border-radius:4px;
  padding: 5px 15px;
  color: #41C0F1;
}

.dflex-wifi-desc{
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
}

.margin-right-60{
  margin-right: 60px;
}

.dflex-con-test-text{
  display: flex;
  align-items: center;
  margin-bottom:15px;
}

.testing-vid-audio-text{
  margin-left:10px;
  font-size: 11px;
  color: #140404;
}

.connectivity-bar{
  border:1px solid #DEDEDE;
  height: 5px;
  width: 100%;
}

.connectivity-bar-blue{
  height: 4px;
  width: 50%;
  background-color: #41C0F1;
}

.join-consult-floating-btn{
  display: none;
}

.video-consult-details-text{
  background-color: #408BF9;
  font-size: 23px;
  color: #fff;
  padding: 20px;
}

.video-details-subtext{
  color: #909090;
  margin-bottom: 7px;
}

.link-appt-dflex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-appt-color{
  color: #408BF9;
  width: 50%;
}

.send-email-text-border{
  border-top: 1px solid #F0F0F0;
  padding-top: 15px;
}

.find-other-doc-margintop{
  margin-top: 10px;
}

.view-profile-text{
  position: absolute;
  right: 35px;
}

.view-profile-text a{
  color: unset;
  text-decoration: none;
}

@media (max-width:768px) {
  .custom-mg-top{
      margin-top: 20px;
  }                
}

@media(max-width: 576px){
  .container-custom{
      padding: 0;
  }

  .tick-icon-column{
      text-align: end;
  }

  .padding-0-mobile{
      padding: 0;
  }

  .row-custom-margin{
      margin: 0;
  }

  .click-join-text{
      padding: 0 15px;
  }

  .d-flex{
      padding: 0 15px;
  }

  .box-white-bg{
      border-radius:unset;
  }

  .mobile-mg-bottom{
      margin-bottom: 85px;
  }

  .join-consult-floating-btn{
      display: flex;
      align-items: center;
      bottom: 0;
      position: fixed;
      width: 100%;
      z-index: 99;
  }

  .view-profile-text{
      right: 10px;
  }
}

@media(max-width: 360px){
  .view-profile-text{
      right: 5px;
  }
}

/* Switch slider CSS */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: #41C0F1;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #41C0F1;
}

input:checked + .slider:before {
background-color: #fff;
}

input:focus + .slider {
box-shadow: 0 0 1px #41C0F1;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
border: 1px solid #D9D9D9;
}

.slider.round:before {
border-radius: 50%;
}



